Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-no-malloc,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-concat-nested-namespaces

WarningsAsErrors: ''

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           1

HeaderFilterRegex: '.*'
FormatStyle:        file
